<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/images/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="./assets/images/about.jpg"></ion-img>
      
      <ion-card-header>
        <ion-card-subtitle>
          <span>Welcome to the new league of dentistry with the concept of <b>RENTAL DENTAL.</b></span><br>
        </ion-card-subtitle>
        <!-- <ion-card-title>CONTACT US</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <span>We provide an excellent platform to rent out equipments and instruments for dental procedures</span><br>
        <span>Our objective is to make you a "Smart & Effective ". SAVE your HARD EARNED money by renting out expensive "Dental Equipments.</span>
      </ion-card-content>
    </ion-card>

    <ion-list detail>
      <ion-list-header>
        <ion-label><b>FEATURES</b></ion-label>
      </ion-list-header>
      <ion-item >
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>Total solution for Technical support in Dentistry.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>Time bound delivery of neccesary Equipments and Kits.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>Instant avaibility of support due to amazing network.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>A concept by dentist for dentist.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label>Our testimonials.</ion-label>
      </ion-item>
    </ion-list>

    <ion-list detail>
      <ion-list-header>
        <ion-label><b>WHY WE</b></ion-label>
      </ion-list-header>
      <ion-item >
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>No hassle of machine EMI's.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>No hassle of machine maintenance.</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>No need to buy expensive kits for bone manipulations, Ridge split, Ridge expansion, Indirect sinus lift, Bone grafting if not needed regularly</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>No tension of breakdown of machine Just focus on implant placement and it's restoration...</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label text-wrap>Get benefit of hight end equiments like physiodispenser,lasers and piezoelectric and upgrade your practice.</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
