<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/images/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-container">
    <ion-card class="welcome-card">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="./assets/images/dental_merger_fb_post_1060x.jpg"></ion-img>          
        </ion-slide>
        <ion-slide>
          <ion-img src="./assets/images/laser_RnD_1060x.jpg"></ion-img>          
        </ion-slide>
        <ion-slide>
          <ion-img src="./assets/images/PDispenser_RnD_1060x.jpg"></ion-img>          
        </ion-slide>
      </ion-slides>
      <ion-card-header>
        <!-- <ion-card-subtitle>Rental Dental feels proud to join hands with Outchem.com</ion-card-subtitle> -->
        <ion-card-title>Welcome to <span class="title">LAMECH</span></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lease a dental product by ordering online and leave us the rest</p>
      </ion-card-content>
    </ion-card>

    <ion-grid>

      <ion-row align-items-center  class="product">
        <ion-col><h2><u>CHENNAI</u></h2></ion-col>
      </ion-row>

      <ion-row align-items-center class="product">
        <ion-col>
          <div>Equipments available in Chennai</div>
        </ion-col>
      </ion-row>

      <ion-row align-items-center *ngFor="let item of equipments;let i = index;" class="product">
        <ion-col>
          <div class="prd-container">
            <ion-img src={{item.img}}></ion-img>  
            <p class="prd-name">{{item.name}}</p>
            <p>             
              <span class="price">{{item.price}}</span>
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
